body {
  background-color: rgb(190, 189, 245,0.96);
  font-family: sans-serif;
  font-size: 20px;
}

select{
  font-size: 20px;
  padding: 7px;
  margin: 10px;
}

button{
  background-color:rgba(75, 250, 206, 0.98);
  padding: 7px;
  margin: 10px;
  border-radius: 5px;
}
button:hover{
  background-color:rgb(240,72,122,0.94);
  padding: 7px;
  margin: 10px;
}

.btn{
  margin-left: 480px;
}
.btn:hover{
  margin-left: 480px;
}
.tag{
  padding-left: 10px;
}
.CourseCard{
  margin: 20px;
  background-color: rgb(188,227,79,0.89);
  border-radius: 8px;
}
